.ndf-solution-empty {
    width: 100%;
    margin: 0 auto;
    background: red;
    text-align: center;
}

.nfd-solutions-plugins {
    grid-template-columns : repeat(auto-fit, minmax(550px, 1fr)) !important;
    max-width             : calc(550px * 3 + 2rem);
}


/*Card*/
.nfd-tools-card-plugin .nfd-card {
    border-radius: 0;
    padding: 0px;
}
.nfd-tools-card-plugin .nfd-card .nfd-card__content, .nfd-tools-card-plugin .nfd-card .nfd-card__footer  {
    padding: 1.5rem;
}
.nfd-tools-card-plugin .nfd-card__footer {
    background-color: #F6F6F6;
}
.nfd-card .nfd-tools-plugin-card-icon {
    width: 120px;
    height: 120px;
    left: 0;
    top: 0;
}
.nfd-card .ndf-tools-plugin-content-section {
    gap:20px
}

/* Card plugin title premium  */
.nfd-tools-plugin-card-description {
    max-width: 250px;
}
.nfd-tools-card-plugin .nfd-tools-plugin-card-title .nfd-title {
    padding-top:10px;
    padding-right:5px;
}
/*Card lock icon*/
.nfd-tools-plugin-card-premium-icon {
    width:20px;
    height:20px;
    background: #FBEFBC;
    border: 1px solid #FDE68D;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.nfd-tools-plugin-card-premium-icon svg {
    max-width: 10px;
    color: #CE8C09;
    margin: 0 auto;
    vertical-align: middle;
}

/*card button*/
.ndf-tools-plugin-card-button a {
    top: 0px;
    right:0px;
    position:absolute;
    margin: 1.5rem;
    min-width:100px;
}